*,
*::before,
*::after {
    box-sizing: border-box;
    /* font-family: IBM Plex Sans; */
}

html,
body {
    margin: 0;
    width: 100%;
    min-height: 100%;
    height: auto;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background: #ccc;
    }
}
